
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.woff2"),
     url("../fonts/OpenSans-Regular.woff"),
     url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.woff2"),
     url("../fonts/OpenSans-Bold.woff"),
     url("../fonts/OpenSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  line-height: 1.2;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1.2;
}

.header {
  background-image: url("../images/banner-mobile.jpg");
  background-color: #26393f;
  background-repeat: no-repeat;    
  background-size: cover;
  background-position: center center;
  z-index: 2;  
  width: 100%;
  color: #fff;
  position: relative;
  height: 100%;   
}

.header::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
}

.top-panel {    
  position: relative;
  padding-bottom: 120px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  max-width: 270px;
  position: absolute;
  top: 235px;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
}

.menu {
  display: flex;
  justify-content: flex-end;
  right: 15px;
  top: 55px;
  position: relative;
  z-index: 2;
}


.menu__button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.burger-line {
  background-color: #fff;
  width: 25px;
  height: 2px;
}

.menu__list {
  display: none;
}

.top-panel__title {
  max-width: 400px;
  margin: 330px auto 0;       
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;    
  text-align: center;  
  padding: 20px;
  position: relative;
  z-index: 2;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* ---------------------Тренды-----------------------*/

.trend-section {
  width: 100%;
  margin: 0 auto;
  position: relative;
  color: #fff;      
}

.trend-title {
  max-width: 400px;
  margin: 60px auto 0;       
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;    
  text-align: center;
  line-height: 1.3;
  padding-bottom: 10px;
  position: relative;
  color: black;
}

.trend-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 65px;
  height: 3px;
  transform: translateX(-50%);
  background-color: #b69f5b;
}

.trend-container {
  width: 100%;
  box-sizing: border-box;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.trend-post {
  width: 100%;  
  min-height: 300px;
  padding: 15px;
  position: relative; 
  display: flex; 
  justify-content: flex-end;
  flex-direction: column;
  color: #fff;
  box-sizing: border-box;
}

.trend-post::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.trend-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.trend-post__inner {
  position: relative;
  z-index: 2;
  border: 3px solid #b69f5b;
  padding: 40px 30px 35px;
}

.trend-tag {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.trend-tag-link {
  font-size: 14px;
  color: #b69f5b;
  font-weight: 700;
  justify-content: flex-start;
  flex-direction: row;    
}

.trend-post-title {
  font-size: 20px;
  font-weight: 700;
  justify-content: flex-start;
}

/* ------------------Статьи--------------------------*/

.page-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 330px;
  margin: 0 auto;
}

.post-page {
  display: flex;
  max-width: 330px;
  margin-top: 45px;
  position: relative;
  color: #fff;  
  display: flex;   
  flex-direction: column; 
  gap: 40px;
  padding-right: 10px;
}

.post {
  display: flex;
  position: relative;
  box-sizing: border-box;   
  flex-wrap: wrap;
}

.post-img {
  max-width: 330px;
}

.post-content {
  max-width: 330px;
  
  display: flex;
  flex-direction: column;
}

.post-tag {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 15px;
  padding-bottom: 15px;  
  text-transform: uppercase;
}

.post-tag-link {
  font-size: 14px;
  color: #b69f5b;  
  font-weight: 700;
  justify-content: flex-start;
  flex-direction: row;    
}

.post-title-link {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  justify-content: flex-start;
  color: black;
}

.post-meta {
  color: #878787;
  display: flex; 
  gap: 15px;
  padding-top: 25px; 
}

.post-author {
  font-weight: 700;
  color: black;
}

.post-preview {
  padding-top: 20px;
  font-size: 14px;
  color: black;
}

/* ------------------Сайдбар--------------------------*/

.sidebar {
  max-width: 330px;
  margin-top: 45px;      
}

.sidebar-widget {
  display: flex;
  flex-direction: column;
}

.title-widget {
  max-width: 300px;         
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;    
  text-align: center;
  line-height: 1.3;
  padding-bottom: 10px;
  position: relative;
  color: black;
}

.title-widget::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 66px;
  height: 3px;
  transform: translateX(-50%);
  background-color: #b69f5b;
}

.widget-container {
  margin-top: 30px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: 20px; 
}

.widget-img {width: 70px;}

.widget-meta {
  color: #878787;    
  font-size: 12px;  
}

.widget-name-link {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  justify-content: flex-start;
  color: black;    
}

.form-search {
  box-sizing: border-box;
  margin-top: 60px;
  display: inline-block;
  max-width: 310px;
  height: 50px;
}

.form-search label {
  display: flex;
  align-items: center;
  gap: 0;
  border: none;
}

.field-search {
  box-sizing: border-box;
  max-width: 260px;
  height: 50px;
  background-color: #f3f7f6;
  padding: 15px 20px;
  font-size: 14px;
  border: none;    
}

.search-svg {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  background-color: #b69f5b;
  padding: 15px; 
   
}

.mailing-title {
  max-width: 290px;         
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;    
  text-align: center;
  line-height: 1.3;
  padding-bottom: 10px;
  position: relative;
  color: black;
  margin-top: 60px;
  margin-bottom: 25px;
}

.mailing-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 66px;
  height: 3px;
  transform: translateX(-50%);
  background-color: #b69f5b;
}

.mailing-form {    
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.field-email {
  box-sizing: border-box;
  width: 310px;
  height: 50px;
  background-color: #f3f7f6;
  padding: 15px 20px;
  font-size: 14px;
  border: none;    
}

.button-email {
  box-sizing: border-box;
  max-width: 310px;
  height: 50px;
  background-color: #b69f5b;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.tags-title {
  max-width: 290px;         
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;    
  text-align: center;
  line-height: 1.3;
  padding-bottom: 10px;
  position: relative;
  color: black;
  margin-top: 60px;
  margin-bottom: 25px;
}

.tags-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 66px;
  height: 3px;
  transform: translateX(-50%);
  background-color: #b69f5b;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.tags-list-item {
  border: 2px solid #eeeeee;
  padding: 5px 15px;    
}

.tags-link {
  font-size: 14px;
  font-weight: 700;
  color: black;
  text-transform: uppercase
}

.categorie-title {
  max-width: 290px;         
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;    
  text-align: center;
  line-height: 1.3;
  padding-bottom: 10px;
  position: relative;
  color: black;
  margin-top: 60px;
  margin-bottom: 25px;
}

.categorie-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 66px;
  height: 3px;
  transform: translateX(-50%);
  background-color: #b69f5b;
}

.categorie-list {
  display: flex;
  flex-direction: column;      
}

.categorie-list-item {
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
}

.categorie-list-item a {
  font-size: 14px;
  font-weight: 700;
  color: black;
  line-height: 1.5;    
}

.categorie-list-item span {
  font-size: 12px;
  font-weight: 700;
  color: #b69f5b;
  position: absolute;
  margin-left: 5px;
}

/* ------------------Магазин--------------------------*/

/* .shop-section {
  width: 1200px;
} */

.shop {
  display: flex;
  max-width: 330px;
  margin: 0 auto;
}

.shop-title {
  max-width: 290px;         
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;    
  text-align: center;;
  padding-bottom: 10px;
  position: relative;
  color: black;
  margin: 65px auto 30px;    
}

.shop-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 66px;
  height: 3px;
  transform: translateX(-50%);
  background-color: #b69f5b;
}

.shop-content {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap: 30px;
}

.product-container {
  max-width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img {
  max-width: 290px;
  position: absolute;
  z-index: 1;
}

.product-content {
  height:250px;
  margin-top: 180px;
  border: 2px solid #b69f5b;
  padding: 45px 30px 25px;
  z-index: 2;
}

.product-name {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  
}

.product-description {
  font-size: 15px;
  line-height: 1.2;
  padding-bottom: 20px;
}

.product-description a {
  color: #b69f5b;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.price h5 {
  font-size: 16px;
  font-weight: 700;
  text-decoration: line-through;
}

.price h5:after {
  content: "\20BD";
  font-size: 16px;
  margin-right: 5px;
}

.price h6 {
  font-size: 20px;
  font-weight: 700;
}

.price h6:after {
  content: "\20BD";
  font-size: 20px;
  margin-right: 5px;
}

.button-shop {
  box-sizing: border-box;
  width: 140px;
  height: 50px;
  background-color: #b69f5b;
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}

/* ------------------Футер--------------------------*/

.socials {
  max-width: 330px;
  height: 85px;
  margin: 60px auto 20px;
  list-style-type: none; 
  display: flex;
  background-color: #f4f7f6;
  justify-content: center;
  align-items: center;  
  gap: 20px;
}

.socials-item {
  position: relative;
}

.socials-link {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
}

.socials-link-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.socials-link-facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.socials-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.socials-link-twitter {
  background-image: url("../svg/004-twitter.svg");
}

.socials-link-instagram {
  background-image: url("../svg/005-instagram.svg");
}

.socials-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip:rect(1px,1px,1px,1px)
}

.copyright {
  font-size: 12px;
  line-height: 1.5;;
  font-weight: 700;
  text-align: center;
  opacity: 0.5;
  margin-bottom: 40px;
  margin-top: 80px;
}

.copyright a {color: black;}


/* Мобилки - ландшафт */
@media (min-width: 481px) and (max-width: 640px) {

  .trend-post {
    width: calc(50% - 2.5px);
  }
}

/* Планшеты - портрет */
@media (min-width: 641px) and (max-width: 900px) {

  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
    height: 400px;
  }

  .top-panel {
    max-width: 800px;
  }

  .logo {
    width: 160px;
    top: 55px;
    left: 15px;
    transform: none;
  }

  .top-panel__title {
    font-size: 38px;
    max-width: 700px;
    line-height: 1.7;
    margin: 100px auto 0;
  }  


  .trend-title {
    font-size: 18px;
  }

  .trend-post {
    width: calc(50% - 2.5px);
  }
  
  
  .page-content {
    max-width: 690px;
    flex-wrap: nowrap;
    gap: 20px;
  }

  .post-page {
    max-width: 390px;
    margin-top: 50px;
    gap: 50px;
  }

  .post-img {
    max-width: 390px;
    align-content: flex-start;
  }

  .post-content {
    max-width: 390px;
    align-content: flex-start;
  }

  .post-title-link {
    font-size: 17px;
  }

  .post-meta {
    padding-top: 35px;
  }

  .post-preview {
    padding-top: 40px;
    font-size: 15px;
  } 

    
  .sidebar {
    max-width: 270px;
    margin-top: 50px;
    justify-content: end;
  }

  .title-widget {
    font-size: 14px;
  }

  .form-search {
    max-width: 270px;
  }  

  .field-search {
    max-width: 220px;
  } 
  
  .mailing-title {
    font-size: 14px;
  }  

  .field-email {
    max-width: 270px;
  }

  .button-email {
    max-width: 270px;
  } 

  .tags-title {
    font-size: 14px;
  }

  .categorie-title {
    font-size: 14px;
  }   

    .shop {
    max-width: 690px;
  }

  .shop-title {
    font-size: 18px;
  }  

  .shop-content {
    gap: 30px;
  }

  .price-container {
    max-width: 330px;
  } 
  
  .socials {
    max-width: 690px;
  }  
}

/* Планшеты - ландшафт */
@media (min-width: 901px) and (max-width: 1200px) {

  .top-panel {
    max-width: 1100px;
  }

  .logo {
    width: 160px;
    top: 55px;
    left: 15px;
    transform: none;
  }
  
  .top-panel__title {
    font-size: 38px;
    max-width: 700px;
    line-height: 1.7;
    margin: 100px auto 0;
  }  


  .trend-post {
    width: calc(25% - 3.75px);
  }

  .page-content {
    max-width: 690px;
    flex-wrap: nowrap;
    gap: 20px;
  }

  .shop {
    max-width: 690px;
  }  

  .socials {
    max-width: 690px;
  }    
}

/* Десктопы */
@media (min-width: 1201px) {

  .header {
    background-image: url("../images/banner-bg.jpg");
    height: 450px;
  }

  .top-panel {
    max-width: 1200px;
  }

  .logo {
    width: 180px;
    top: 50px;
    left: 15px;
    transform: none;
  }

  .menu__button {
    display: none;
  }

  .menu__list {
    display: flex;    
    gap: 30px;
  }

  .menu__list-item {   
    font-size: 13px;
    text-transform: uppercase;
  }

  .menu__link {    
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }  

  .menu__link:hover {
    text-decoration: underline;
  } 

  .top-panel__title {
    max-width: 750px;
    margin: 120px auto 0;       
    font-size: 45px;      
    line-height: 1.8;
  }

  
  .trend-title {
    max-width: 700px;
    font-size: 20px;
  }

  .trend-post {
    width: calc(25% - 3.75px);
  }


  .page-content {
    max-width: 1200px; 
    flex-wrap: nowrap;
    gap: 20px;
  }

  .post-page {
    max-width: 900px;
    margin-top: 60px;
    gap: 60px;
  }

  .post {
    flex-wrap: nowrap;
    gap: 30px;
  }

  .post-img {
    max-width: 400px;
  }

  .post-content {
    max-width: 400px;
  }

  .post-tag {
    padding-top: 0;
  }

  .post-title-link {
    font-size: 20px;
  }

  .post-meta {
    padding-top: 35px;
  }  

  .post-preview {
    padding-top: 55px;
    font-size: 15px;
  }  


  .sidebar {
    max-width: 270px;
    margin-top: 65px;
  }

  .title-widget {
    font-size: 16px;
  }

  .form-search {
    max-width: 270px;
  }  

  .field-search {
    max-width: 220px;
  } 
  
  .mailing-title {
    font-size: 14px;
  }

  .field-email {
    max-width: 270px;
  }

  .button-email {
    max-width: 270px;
  } 
  

  .tags-title {
    font-size: 14px;
  }

  .categorie-title {
    font-size: 14px;
  }  

  .shop {
    max-width: 1200px;
  }

  .shop-title {
    font-size: 20px;
  }  


  .shop-content {
    gap: 60px;
  }

  .price-container {
    max-width: 360px;
  }  

  .product-img {
    max-width: 300px;
  }

  .product-name {
    font-size: 20px;
  }

  .socials {
    max-width: 1200px;
  }  
}


/* ------------------Всплывающее окно--------------------------*/

.popup-wrapper {
  width: 390px;
  height: 600px;
  display: flex;
  padding: 50px 30px;
  box-sizing: border-box;
  z-index: 4;

  position: fixed;
  left: 50%;  
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.popup-title {
  max-width: 700px;         
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;    
  text-align: center;
  line-height: 1.3;
  padding-bottom: 10px;
  position: relative;
  color: black;  
  margin-bottom: 45px;
}

.popup-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 66px;
  height: 3px;
  transform: translateX(-50%);
  background-color: #b69f5b;
}

.form-hint-select {
  font-size: 14px;
}

.select {
  display: block;
  box-sizing: border-box;
  width: 330px;
  height: 40px;
  background-color: #f4f7f6;
  border: none;
  margin-top: 10px;
  margin-bottom: 30px;

  font-size: 14px;
  padding-left: 20px;  
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px 25px;
}

.radio {
  position: absolute;
  clip:rect(1px,1px,1px,1px);
  height: 1px;
  width: 1px;
}

.radio-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-hint-radio {
  font-size: 14px;
  margin-bottom: 5px;  
}

.radio-button {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.radio-group {
  font-size: 14px;
  display: inline-flex;
  cursor: pointer;
}

.radio:checked + .radio-group-text::before {
  background-image: url("../svg/form-circle.svg");
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: 10px;

  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px;
}

.form-hint-text {
  font-size: 14px;
}

.field-text {
  width: 330px;
  height: 130px;
  box-sizing: border-box;
  background-color: #f4f7f6;
  border: none;

  font-size: 14px;
  padding: 20px;
  margin-top: 10px;  
}

.button-text {
  box-sizing: border-box;
  width: 330px;
  height: 50px;
  background-color: #b69f5b;
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  margin-top: 30px;  
}

.popup-container {
  position: relative;
}

  .close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: -30px;
  top: -80px;  
  z-index: 4;
  box-sizing: border-box;
}

._hidden {
  display: none;
}